## BACKEND
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

.env

# Redis backup file
dump.rdb

## FRONTEND
# dependencies
frontend/node_modules/
/node_modules
/.pnp
.pnp.js

# testing
/coverage
# next.js
frontend/.next/
/out/

# production
/build

# misc
.DS_Store

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

gcp-key.json
